@model PaginatedList<Brief.Models.Blog>
@{ ViewData["Title"] = "Recently Posted Blogs"; }

<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
</head>

<div class="mb-2">
    <a class="btn btn-dark" asp-controller="Admin" asp-action="Index">Back</a>
</div>
<div>
    <h4 style="margin-bottom: 40px;"> @ViewData["Title"]</h4>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 20%;">Date Posted</th>
            <th scope="col" class="text-center" style="width: 40%;">Title</th>
            <th scope="col" class="text-center" style="width: 15%;">Creator</th>
            <th scope="col" class="text-center" style="width: 25%;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="blog-table">@item.TimeCreated.Date.ToShortDateString()</td>
                <td class="blog-table">
                    <a asp-controller="Blog" asp-action="Index" asp-route-id="@item.BlogID" style="color:black">@item.Title</a>
                </td>
                <td class="blog-table">@item.CreatorName</td>
                <td>
                    <a class="btn btn-danger m-1" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


