<ul class="nav nav-pills flex-column">
    @*<li class="nav-item"><a class="nav-link @Brief.Controllers.ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="/Index">Profile</a></li>
        <li class="nav-item"><a class="nav-link @Brief.Controllers.ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="/Email">Email</a></li>*@
    <li class="nav-item"><a class="nav-link @Brief.Controllers.ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-controller="Manage" asp-action="Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @Brief.Controllers.ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-controller="Manage" asp-action="Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @Brief.Controllers.ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-controller="Manage" asp-action="Password">Password</a></li>
</ul>
