@model Brief.Models.Blog
@{
    ViewBag.Title = "Edit Blog";
    Layout = "../Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
    <script>"~/lib/jquery/dist/jquery.js"</script>
</head>

<div class="container">
    <h1 class="mt-3">Edit Blog</h1>
</div>

<hr />

<div class="container">
    <form id="blogCreation" asp-controller="Manage" asp-action="UpdateDetails" asp-route-blogID="@Model.BlogID" method="post">
        <div class="form-group">
            <label class="control-label">Blog Title</label>
            <input class="form-control" name="txtTitle" value="@Model.Title" />
        </div>
        <div class="row">
            <div class="form-group col-md-10 m-0">
                <input id="txtTagName" class="form-control" placeholder="Enter tag" name="txtTagName" />
            </div>
            <div class="form-group col-md-2 m-0 p-0">
                <input type="button" id="tagAdd" value="Add" class="btn btn-secondary bg-dark" />
                <input id="tagString" type="hidden" value="" name="tagString" />
                <input id="removeString" type="hidden" value="" name="removeString" />
            </div>
        </div>
        <div id="tagging" class="row m-2">
            @if (Model.TagList != null && Model.TagList.Any())
            {
                @foreach (var tag in Model.TagList)
                {
                    <div id ="@tag.TagName" class="tag-container">
                        <small class="text-dark">@tag.TagName</small>
                        <div class="d-inline-block">
                            <button onclick="RemoveTag1(this)" type="button" class="btn-tag">&times;</button>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="form-group">
            <label class="control-label">Body</label>
            <textarea name="txtContent" type="text" class="form-control blog-textarea" rows="10">@Model.Content</textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-secondary bg-dark" />
        </div>
    </form>
</div>

<br />

<h2 class="text-danger" style="font-style:italic;">@ViewBag.Result</h2>


@section scripts{
    <script type="text/javascript">
        $("#tagAdd").click(function () {
            //create elements
            var tagDiv = document.getElementById("tagging")
            var newDiv1 = document.createElement("div");
            var newSmall = document.createElement("small");
            var newDiv2 = document.createElement("div");
            var newBtn = document.createElement("button");
            var tagText = document.getElementById("txtTagName");
            var tagName = tagText.value;
            var tagString = document.getElementById("tagString");

            tagName = tagName.trimStart();
            tagName = tagName.trimEnd();
            if (tagName == "") {
                tagText.value = "";
                return;
            }

            //set classes
            newDiv1.classList.add("tag-container");
            newSmall.classList.add("text-dark");
            newDiv2.classList.add("d-inline-block");
            newBtn.classList.add("btn-tag");
            newBtn.classList.add("ml-1");

            newBtn.type = "button";
            newDiv1.id = tagName;
            newBtn.setAttribute("onclick", "RemoveTag2(this)")

            //add content to elements
            newBtn.innerHTML = "&times;"
            newSmall.innerText = tagName;
            newDiv2.appendChild(newBtn);
            newDiv1.appendChild(newSmall);
            newDiv1.appendChild(newDiv2);
            tagDiv.appendChild(newDiv1);

            if (tagString.value == "") {
                tagString.value = tagName;
            }
            else {
                tagString.value = tagString.value + "," + tagName;
            }
            tagText.value = "";
        });

        function RemoveTag1(element) {
            var deletedTag = document.getElementById(element.parentElement.parentElement.id);
            var removeString = document.getElementById("removeString");

            if (removeString.value == "") {
                removeString.value = deletedTag.id;
            }
            else {
                removeString.value = removeString.value + "," + deletedTag.id;
            }

            deletedTag.remove();
        }

        function RemoveTag2(element) {
            var deletedTag = document.getElementById(element.parentElement.parentElement.id);
            var tagName = deletedTag.id
            var tagString = document.getElementById("tagString");
            var removeString = tagString.value;
            var location = removeString.indexOf(tagName);

            alert("Before Remove: " + removeString);

            if (location == 0) {

                if (removeString == tagName) {
                    removeString = "";
                }
                else {
                    removeString = removeString.replace(tagName + ",", "");
                }

                tagString.value = removeString;
            }
            else {
                removeString = removeString.replace("," + tagName, "")
                tagString.value = removeString;
            }

            alert("After Remove: " + removeString);

            deletedTag.remove();
        }
    </script>
}
