@model UserBlogList<Brief.Models.Blog>
@{
    ViewData["Title"] = "My Blogs";
    ViewData["ActivePage"] = "History";

    Layout = "../Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
</head>
<h4 style="margin-bottom: 40px;"> @ViewData["Title"]</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 20%;">Date Posted</th>
            <th scope="col" class="text-center" style="width: 40%;">Title</th>
            <th scope="col" class="text-center" style="width: 15%;">Status</th>
            <th scope="col" class="text-center" style="width: 25%;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="blog-table">@item.TimeCreated.Date.ToShortDateString()</td>
                <td class="blog-table">
                    <a asp-controller="Blog" asp-action="Index" asp-route-blogID="@item.BlogID" style="color:black">@item.Title</a>
                </td>
                <td class="blog-table">@item.PostStatus</td>
                <td>
                    <a class="btn btn-danger float-right m-1" asp-controller="Manage" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-info float-right m-1" asp-controller="Manage" asp-action="Edit" asp-route-blogID="@item.BlogID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}


<div>
    <nav class="m-0">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a asp-action="History" asp-route-pageNumber="@(Model.PageIndex -1)" class="page-link btn text-dark @prevDisabled" style="width: 85px;">Previous</a></li>
            <li class="page-item"><a asp-action="History" asp-route-pageNumber="@(Model.PageIndex +1)" class="page-link btn text-dark @nextDisabled" style="width: 85px;">Next</a></li>
        </ul>
    </nav>
</div>
