@model PaginatedList<Brief.Models.Blog>
@{ ViewData["Title"] = "Home"; }

<head>
    <link rel="stylesheet" href="~/css/Brief.css" />
</head>

<div>
    <h1 class="display-4 mb-4 text-center">Recent Blogs</h1>
</div>

<div>
    <div class="row mb-2">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static blog-tile-h">
                        <h4 class="mb-0">@item.Title</h4>
                        <div class="mb-1 text-muted">
                            <p class="float-left mb-0">
                                @item.CreatorName
                            </p>
                            <p class="float-right mb-0">
                                @item.TimeCreated.Date.ToShortDateString()
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <p class="mb-auto">@item.Content</p>
                    </div>
                    <div class="card-footer bg-dark text-right" style="width: 100%">
                        <a asp-controller="Blog" asp-action="Index" asp-route-id="@item.Id" class="stretched-link text-white">Continue reading</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}


<div>
    <nav class="m-0">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex -1)" class="page-link text-dark @prevDisabled">Previous</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
            <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex +1)" class="page-link text-dark @nextDisabled">Next</a></li>
        </ul>
    </nav>
</div>